.sidebar {
  background: url(https://cdn.glitch.com/20b7855b-f793-4f8c-9f47-bea23ab59e22%2F12-asphalt-road-seamless.jpg?1552006682358) repeat-y;
  height: 100vh;
  background-size: 97% 300px;
}
.list-selector {
  padding: 10px 10px 10px 0;
}
.parade-queue {
  margin:0;
  padding:10px 10px 10px 0;
}

.parade-queue li {
  display:block;
  padding:0;
  margin-bottom: 5px;
  background: rgba(256,256,256, .5);
  border: 1px solid #999;
  border-radius: 3px;
}

.parade-queue li a {
  display:block;
  padding:10px;
  text-decoration: none;
}

.card-on-display {
  background: #000;
  height: 100vh;
}

.vid {
  width: 100%;
  height: 100%;
}

.presenting-live {
  color: #fff;
  font-size: 24px;
  height: 100vh;
}